@charset "UTF-8";
/* font family */
/* text colors */
/* background colors */
/* border colors */
/* shadows */
.list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ********************************************************************* 
*************** Шапка ******************** 
********************************************************************** */
.page-header {
  border-bottom: 1px solid var(--border-header-color);
}

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: inline-block;
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo--dark {
  color: var(--logo-dark-color);
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-header__logo {
  margin-right: 93px;
  padding: 24px 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--titlt-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav__link--accent {
  color: var(--accent-color);
}

.nav__link--accent::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--text-color);
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
  fill: currentColor;
}

.contact__link--padding {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact__item--position:not(:last-child) {
  margin-right: 50px;
}

.contact__icon {
  margin-right: 10px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/* ********************************************************************* 
*************** WebStudio ******************** 
********************************************************************** */
/* ---------- Hero ---------------  */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/webstudio/background.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/webstudio/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-hero-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-top: 0;
  margin-bottom: 30px;
}

.btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--second-accent-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--titlt-color);
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
}

/* ******************** Модальное окно ******************** */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg-color);
  -webkit-transition: visibility 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: var(--main-bg-color);
  -webkit-box-shadow: var(--team-shadow);
          box-shadow: var(--team-shadow);
  width: 528px;
  padding: 40px;
  -webkit-transition: visibility 350ms cubic-bezier(0.4, 0, 0.2, 1), opacity 350ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 350ms cubic-bezier(0.4, 0, 0.2, 1), opacity 350ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), visibility 350ms cubic-bezier(0.4, 0, 0.2, 1), opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), visibility 350ms cubic-bezier(0.4, 0, 0.2, 1), opacity 350ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0deg);
          transform: translate(-50%, -50%) scale(1) rotate(0deg);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5) rotate(360deg);
          transform: translate(-50%, -50%) scale(0.5) rotate(360deg);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: var(--main-bg-color);
  border-radius: 50%;
  border: 1px solid var(--border-close-color);
  cursor: pointer;
}

.btn-close:hover,
.btn-close:focus {
  outline-color: var(--accent-color);
}

.btn-close:hover .close-icon,
.btn-close:focus .close-icon {
  fill: var(--accent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  fill: var(--logo-dark-color);
}

.modal__form {
  text-align: left;
}

.modal__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--titlt-color);
}

.form__group {
  position: relative;
  margin-bottom: 10px;
}

.form__group {
  display: block;
}

.form__icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--titlt-color);
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 12px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid var(--border-modal-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--titlt-color);
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea {
  resize: none;
  height: 120px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 20px;
  color: var(--titlt-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--titlt-color);
}

.form__textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.form__textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.form__textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.form__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.form__group:hover .form__icon,
.form__group:focus-within .form__icon {
  fill: var(--accent-color);
}

.form__group:hover .form__field,
.form__group:focus-within .form__field {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
}

.form__title,
.checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.checkbox__text {
  text-align: center;
  padding-left: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox__policy {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.checkbox__field {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__icon {
  position: absolute;
  top: 50%;
  left: 13px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
  width: 16px;
  height: 15px;
  outline: 1px solid var(--titlt-color);
  outline-offset: -1px;
  fill: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__field:checked + .checkbox__icon {
  background-color: var(--accent-color);
  outline-color: transparent;
  fill: var(--white-color);
}

.checkbox__field:hover + .checkbox__icon,
.checkbox__field:focus + .checkbox__icon {
  outline-color: var(--accent-color);
}

.form__btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* --------------- Наши преимущества ------------ */
.features {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature__tumb {
  height: 120px;
  padding: 100px, 25px;
  margin-bottom: 30px;
  background-color: var(--bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__icon {
  display: block;
  width: 70px;
  height: 70px;
}

.feature__title {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
  color: var(--titlt-color);
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__text {
  font-size: 14px;
  line-height: 1.7;
  width: 270px;
}

/* ------------ Чем мы занимаемся ----------- */
.services {
  padding-bottom: 94px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service__item {
  position: relative;
  z-index: -1;
}

.service__item:not(:last-child) {
  margin-right: 30px;
}

.service__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
}

/*----------------Наша команда ------------*/
.employees {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-color);
}

.employees__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.employee__item {
  width: 270px;
  background-color: var(--white-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: var(--team-shadow);
          box-shadow: var(--team-shadow);
}

.employee__item:not(:last-child) {
  margin-right: 30px;
}

.employee__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--titlt-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.employee__vacancy {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.employee__card {
  padding: 30px 0;
}

.employee__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ------------ Постоянные клиенты ----------- */
.clients {
  padding-top: 75px;
  padding-bottom: 94px;
  background-color: var(--main-bg-color);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client__item {
  margin-right: 30px;
}

.client__item:last-child {
  margin-right: 0;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  padding: 32px, 16px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover,
.client__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* ********************************************************************* 
*************** Футер ******************** 
********************************************************************** */
.logo--white {
  color: var(--white-color);
}

address {
  font-style: normal;
}

.address__contact {
  display: inline-block;
  font-size: 14px;
  line-height: 1.7;
  color: var(--adress-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact:hover,
.address__contact:focus {
  color: var(--accent-color);
}

.footer--text-color {
  color: var(--white-color);
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer {
  background-color: var(--second-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  padding: 0;
  margin-bottom: 20px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__block:not(:last-child) {
  margin-right: 70px;
}

.footer__block:last-child {
  margin-left: auto;
}

.footer__btn {
  padding: 10px 0;
  padding-left: 29px;
  padding-right: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__email {
  margin-left: 10px;
  margin: 0;
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--border-input-color);
  cursor: pointer;
  color: var(--adress-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__email:not(:placeholder-shown) {
  background-color: transparent;
}

.footer__email::-webkit-input-placeholder {
  color: var(--adress-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer__email:-ms-input-placeholder {
  color: var(--adress-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer__email::-ms-input-placeholder {
  color: var(--adress-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer__email::placeholder {
  color: var(--adress-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer__email:hover,
.footer__email:focus {
  border-color: var(--accent-color);
  outline-style: var(--accent-color);
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__icon {
  fill: var(--white-color);
}

/* ********************************************************************* 
*************** Portfolio ******************** 
********************************************************************** */
.portfolio {
  padding: 94px 0;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter__btn {
  padding: 6px 22px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--titlt-color);
  background-color: var(--bg-color);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn:hover,
.filter__btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: var(--filter-shadow);
          box-shadow: var(--filter-shadow);
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.work__item {
  width: 370px;
}

.work__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.work__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.work__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work__link:hover,
.work__link:focus {
  -webkit-box-shadow: var(--portfolio-card-shadow);
          box-shadow: var(--portfolio-card-shadow);
}

.work__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titlt-color);
  margin: 0;
  margin-bottom: 4px;
}

.work__view {
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-color);
}

.work__label {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}

/*  */
.work__card {
  position: relative;
  overflow: hidden;
}

.work__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--overlay-bg-color);
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work__link:hover .work__overlay,
.work__link:focus .work__overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.work__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-color);
}

/* ******************** CVG ******************** */
.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.social__item:last-child {
  margin-right: 0px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--socials-bg-color);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--main-bg-color);
}

.footer__icon {
  fill: var(--main-bg-color);
}
/*# sourceMappingURL=main.css.map */