/* ********************************************************************* 
*************** Футер ******************** 
********************************************************************** */

.logo--white {
    color: var(--white-color);
}

address {
    font-style: normal;
}

.address__contact {
    display: inline-block;
    font-size: 14px;
    line-height: 1.7;
    color: var(--adress-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact:hover,
.address__contact:focus {
    color: var(--accent-color);
}

.footer--text-color {
    color: var(--white-color);
}

.footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer {
    background-color: var(--second-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__logo {
    padding: 0;
    margin-bottom: 20px;
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__block:not(:last-child) {
    margin-right: 70px;
}

.footer__block:last-child {
    margin-left: auto;
}

.footer__btn {
    padding: 10px 0;
    padding-left: 29px;
    padding-right: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__email {
    margin-left: 10px;
    margin: 0;
    width: 358px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    margin-right: 12px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid var(--border-input-color);
    cursor: pointer;

    color: var(--adress-color);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__email:not(:placeholder-shown) {
    background-color: transparent;
}

.footer__email::placeholder {
    color: var(--adress-color);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}

.footer__email:hover,
.footer__email:focus {
    border-color: var(--accent-color);
    outline-style: var(--accent-color);
}

.subscription {
    display: flex;
}

.footer__icon {
    fill: var(--white-color);
}